@import "tailwindcss";

/* ============================= */
/* (Light) */
/* ============================= */
@theme {
  --color-primary: #064e3b;
  --color-primary-soft: #d1fae5;
  --color-secondary: #d97706;
  --color-secondary-soft: #fef3c7;
  --color-tertiary: #64748b;
  --color-surface: #f8fafc;
  --color-surface-strong: #e4e4e4;
  --color-text: #0f172a;
  --color-text-muted: #475569;
  --color-border: #e2e8f0;
}

/* ============================= */
/* Base do documento */
/* ============================= */
:root {
  color-scheme: light;
}

/* ============================= */
/* Dark mode */
/* ============================= */
.dark {
  color-scheme: dark;

  --color-primary: oklch(0.72 0.19 145);
  --color-primary-soft: oklch(0.27 0.07 145);
  --color-secondary: oklch(0.62 0.18 295);
  --color-secondary-soft: oklch(0.29 0.08 295);
  --color-tertiary: oklch(0.79 0.02 260);
  --color-surface: oklch(0.17 0.02 260);
  --color-surface-strong: oklch(0.21 0.02 260);
  --color-text: oklch(0.97 0.01 260);
  --color-text-muted: oklch(0.79 0.02 260);
  --color-border: oklch(0.32 0.02 260);
}

/* ============================= */
/* Aplicação real */
/* ============================= */
body {
  background-color: var(--color-surface);
  color: var(--color-text);
}