@import "tailwindcss";

/* ============================= */
/* (Light) */
/* ============================= */
@theme {
  --color-primary: #064e3b;
  --color-primary-soft: #d1fae5;
  --color-secondary: #d97706;
  --color-secondary-soft: #fef3c7;
  --color-tertiary: #64748b;
  --color-surface: #f8fafc;
  --color-surface-strong: #f1f1f1;
  --color-text: #0f172a;
  --color-text-muted: #475569;
  --color-border: #d3d3d3;
}


/* ============================= */
/* Base do documento */
/* ============================= */
:root {
  color-scheme: light;
}

/* ============================= */
/* Dark mode */
/* ============================= */
.dark {
  color-scheme: dark;

  --color-primary: #43c251;
  --color-primary-soft: #0b2f0e;
  --color-secondary: #906ae5;
  --color-secondary-soft: #2f214e;
  --color-tertiary: #b3bbc8;
  --color-surface: #0a1018;
  --color-surface-strong: #131922;
  --color-text: #f1f5fc;
  --color-text-muted: #b3bbc8;
  --color-border: #2d333d;
}

/* ============================= */
/* Aplicação real */
/* ============================= */


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);
}