@import "tailwindcss";


:root {
 
  transition: background-color 0.3s ease, color 0.3s ease;

  --primary: #064e3b;          /* Verde Floresta */
  --primary-soft: #d1fae5;     /* Verde muito claro para fundos de tags */
  --secondary: #d97706;        /* Ouro/Âmbar para detalhes e hover */
  --secondary-soft: #fef3c7;
  --tertiary: #64748b;         /* Slate para textos secundários */
  --surface: #f8fafc;          /* Fundo principal (quase branco) */
  --surface-strong: #e4e4e4;   /* Fundo de inputs e cards */
  --text: #0f172a;             /* Texto principal (quase preto azulado) */
  --text-muted: #475569;       /* Texto de apoio */
  --border: #e2e8f0;           /* Bordas sutis */
}

@theme {
  --color-primary: var(--primary);
  --color-primary-soft: var(--primary-soft);
  --color-secondary: var(--secondary);
  --color-secondary-soft: var(--secondary-soft);
  --color-tertiary: var(--tertiary);
  --color-surface: var(--surface);
  --color-surface-strong: var(--surface-strong);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
}

.dark {
  --primary: var(--color-green-500);
  --primary-soft: var(--color-green-900);
  --secondary: var(--color-purple-500);
  --secondary-soft: var(--color-purple-900);
  --tertiary: var(--color-slate-400);
  --surface: var(--color-slate-900);
  --surface-strong: var(--color-slate-800);
  --text: var(--color-slate-100);
  --text-muted: var(--color-slate-400);
  --border: var(--color-slate-700);
}